
<ion-view view-title="Diagnostic Test">
  <ion-nav-view>
    <ion-tabs class="tabs-positive tabs-icon-only tabs-icon-top" style="padding-top:25px">
      <ion-tab title="Calculate" icon-on="ion-ios7-calculator" icon-off="ion-ios7-calculator-outline">
        <ion-header-bar class="bar-positive">
          <button class="button button-clear" ng-click="newTask()">New</button>
          <h1 class="title">Tasks</h1>
        </ion-header-bar>
        <ion-content has-tabs="true">
          <form ng-submit="calculateValues()" class="padding has-header">
            <div class="card">
              <div class="item item-divider">
                Disease
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Positive</span>
                    <input type="number" placeholder="A" ng-model="calculator.a">
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Negative</span>
                    <input type="number" placeholder="C" ng-model="calculator.c">
                  </label>
                </div>
              </div>
              <div class="item item-divider">
                No Disease
              </div>
              <div class="row">
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Positive</span>
                    <input type="number" placeholder="B" ng-model="calculator.b">
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">No Disease</span>
                    <input type="number" placeholder="D" ng-model="calculator.d">
                  </label>
                </div>
              </div>
              <div class="item item-divider">
                LR Values
              </div>
                <div class="row">
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">LR Plus</span>
                    <input type="number" placeholder="LR Plus" ng-model="calculator.lrPlus">
                  </label>
                </div>
                <div class="col">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">LR Minus</span>
                    <input type="number" placeholder="LR Minus" ng-model="calculator.lrMinus">
                  </label>
                </div>
              </div>
            </div>
            <button class="button button-block button-positive">
              Submit
            </button>
          </form>
        </ion-content>
      </ion-tab>

      <ion-tab title="Results" icon-on="ion-ios7-information" icon-off="ion-ios7-information-outline" class="results">
        <ion-header-bar class="bar-positive">
          <button class="button button-clear" ng-click="newTask()">New</button>
          <h1 class="title">Tasks</h1>
        </ion-header-bar>
        <ion-content has-tabs="true">
          <div class="card">
            <div class="item item-divider">
              Results
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"><strong>Estimate</strong></div>
              <div class="col"><strong>95% CI</strong></div>
            </div>
            <div class="row">
              <div class="col"><strong>Sensitivity</strong></div>
              <div class="col">{{results.sensitivity}}</div>
              <div class="col">[{{results.sensitivityLowerLimit}}-{{results.sensitivityUpperLimit}}]</div>
            </div>
            <div class="row">
              <div class="col"><strong>Specificity</strong></div>
              <div class="col">{{results.specificity}}</div>
              <div class="col">[{{results.specificityLowerLimit}}-{{results.specificityUpperLimit}}]</div>
            </div>
            <div class="row">
              <div class="col"><strong>PPV</strong></div>
              <div class="col">{{results.ppv}}</div>
              <div class="col">[{{results.ppvLowerLimit}}-{{results.ppvUpperLimit}}]</div>
            </div>
            <div class="row">
              <div class="col"><strong>NPV</strong></div>
              <div class="col">{{results.npv}}</div>
              <div class="col">[{{results.npvLowerLimit}}-{{results.npvUpperLimit}}]</div>
            </div>
            <div class="row">
              <div class="col"><strong>LR+</strong></div>
              <div class="col">{{results.lrPlus}}</div>
              <div class="col">[{{results.lrPlusLowerLimit}}-{{results.lrPlusUpperLimit}}]</div>
            </div>
            <div class="row">
              <div class="col"><strong>LR-</strong></div>
              <div class="col">{{results.lrMinus}}</div>
              <div class="col">[{{results.lrMinusLowerLimit}}-{{results.lrMinusUpperLimit}}]</div>
            </div>
            <div class="item item-divider">
                Chart
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403 404" enable-background="new 0 0 403 404">
              <path fill="#fff" stroke="#000" stroke-miterlimit="10" d="M363.5 389.7H39.2c-14.6 0-26.5-11.9-26.5-26.5V38.8c0-14.6 11.9-26.5 26.5-26.5h324.3c14.6 0 26.5 11.9 26.5 26.5v324.3c0 14.7-11.9 26.6-26.5 26.6zM350.1 338.3H53.5"/>
              <g fill="none" stroke="#A3A3A3" stroke-miterlimit="10">
                <path d="M83.2 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M83.2 336.8v-294"/>
                <path d="M83.2 42.3v-.5"/>
                <path d="M112.8 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M112.8 336.8v-294"/>
                <path d="M112.8 42.3v-.5"/>
                <path d="M142.5 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M142.5 336.8v-294"/>
                <path d="M142.5 42.3v-.5"/>
                <path d="M172.1 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M172.1 336.8v-294"/>
                <path d="M172.1 42.3v-.5"/>
                <path d="M201.8 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M201.8 336.8v-294"/>
                <path d="M201.8 42.3v-.5"/>
                <path d="M231.4 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M231.4 336.8v-294"/>
                <path d="M231.4 42.3v-.5"/>
                <path d="M261.1 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M261.1 336.8v-294"/>
                <path d="M261.1 42.3v-.5"/>
                <path d="M290.8 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M290.8 336.8v-294"/>
                <path d="M290.8 42.3v-.5"/>
                <path d="M320.4 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M320.4 336.8v-294"/>
                <path d="M320.4 42.3v-.5"/>
                <path d="M350.1 338.3v-.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M350.1 336.8v-294"/>
                <path d="M350.1 42.3v-.5"/>
                <path d="M53.5 71.5h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 71.5h294.1"/>
                <path d="M349.6 71.5h.5"/>
                <path d="M53.5 101.1h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 101.1h294.1"/>
                <path d="M349.6 101.1h.5"/>
                <path d="M53.5 41.8h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 41.8h294.1"/>
                <path d="M349.6 41.8h.5"/>
                <path d="M53.5 130.8h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 130.8h294.1"/>
                <path d="M349.6 130.8h.5"/>
                <path d="M53.5 160.4h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 160.4h294.1"/>
                <path d="M349.6 160.4h.5"/>
                <path d="M53.5 190.1h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 190.1h294.1"/>
                <path d="M349.6 190.1h.5"/>
                <path d="M53.5 219.7h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 219.7h294.1"/>
                <path d="M349.6 219.7h.5"/>
                <path d="M53.5 249.4h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 249.4h294.1"/>
                <path d="M349.6 249.4h.5"/>
                <path d="M53.5 279h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 279h294.1"/>
                <path d="M349.6 279h.5"/>
                <path d="M53.5 308.7h.5"/>
                <path stroke-dasharray="1.0018,1.0018" d="M55 308.7h294.1"/>
                <path d="M349.6 308.7h.5"/>
              </g>
              <g>
                <text transform="translate(248.333 35)" font-family="'Helvetica'" font-size="12">
                  Post-test Probability
                </text>
                <text transform="translate(265.333 374)" font-family="'Helvetica'" font-size="12">
                  negative (-)
                </text>
                <text transform="translate(36.334 41.822)" font-family="'Helvetica'" font-size="10.982">
                  1.0
                </text>
                <text transform="translate(36.334 101.126)" font-family="'Helvetica'" font-size="10.982">
                  0.8
                </text>
                <text transform="translate(36.334 160.43)" font-family="'Helvetica'" font-size="10.982">
                  0.6
                </text>
                <text transform="translate(36.334 219.733)" font-family="'Helvetica'" font-size="10.982">
                  0.4
                </text>
                <text transform="translate(36.334 279.037)" font-family="'Helvetica'" font-size="10.982">
                  0.2
                </text>
                <text transform="translate(105.888 350.421)" font-family="'Helvetica'" font-size="10.982">
                  0.2
                </text>
                <text transform="translate(165.191 350.421)" font-family="'Helvetica'" font-size="10.982">
                  0.4
                </text>
                <text transform="translate(224.495 350.421)" font-family="'Helvetica'" font-size="10.982">
                  0.6
                </text>
                <text transform="translate(283.799 350.421)" font-family="'Helvetica'" font-size="10.982">
                  0.8
                </text>
                <text transform="translate(343.103 350.421)" font-family="'Helvetica'" font-size="10.982">
                  1.0
                </text>
                <text transform="translate(36.334 350.421)" font-family="'Helvetica'" font-size="10.982">
                  0.0
                </text>
                <text transform="translate(172.333 374)" font-family="'Helvetica'" font-size="12">
                  positive (+)
                </text>
              </g>
              <path fill="none" stroke="#00f" stroke-width="2" stroke-miterlimit="10" d="M233 371h24"/>
              <path fill="none" stroke="#f00" stroke-width="2" stroke-miterlimit="10" d="M326 371h24"/>
              <g transform="translate(53.5, 42)">
                <rect x="0" y="0" width="297" height="296" stroke="black" fill="transparent" stroke-width="1"/>
                <path fill="none" stroke="#f00" stroke-width="2" stroke-miterlimit="10" d="{{red}}"/>
                <path fill="none" stroke="#00f" stroke-width="2" stroke-miterlimit="10" d="{{blue}}"/>
                {{controlPointRed}}
                {{controlPointBlue}}
                <!--
                <path fill="none" stroke="#0f0" stroke-width="2" stroke-miterlimit="10" d="{{controlRed}}"/>
                <path fill="none" stroke="#666" stroke-width="2" stroke-miterlimit="10" d="{{controlBlue}}"/>
                -->
              </g>
            </svg>
          </div>
        </ion-content>
      </ion-tab>

    </ion-tabs>
  </ion-nav-view>
</ion-view>
